name: macOS-Clang

on:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/macos.yaml'
      - 'cmake/**'
      - 'src/**'
      - 'tests/**'
      - 'CMakeLists.txt'
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/macos.yaml'
      - 'cmake/**'
      - 'src/**'
      - 'tests/**'
      - 'CMakeLists.txt'

jobs:
  build:
    name: Build & Test with Clang (${{ matrix.build_type }})
    runs-on: macos-latest

    strategy:
      matrix:
        build_type: [Debug, Release]
      fail-fast: false

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        brew update
        # Install gfortran from gcc
        brew install gcc@13
        # Find gfortran location
        GFORTRAN_PATH=$(brew --prefix gcc@13)/bin/gfortran-13
        echo "Found gfortran at: ${GFORTRAN_PATH}"
        # Install other dependencies
        brew install \
          cmake \
          ninja \
          python \
          numpy \
          googletest \
          glog \
          llvm \
          lcov \
          yaml-cpp \
          nlohmann-json \
          netcdf \
          netcdf-cxx
        
    - name: Install xtl and xtensor
      run: |
        git clone https://github.com/xtensor-stack/xtl.git
        mkdir xtl/build
        cd xtl/build
        cmake .. -G Ninja -DCMAKE_INSTALL_PREFIX=/opt/homebrew
        cmake --build .
        ninja install
        cd ../..
        git clone https://github.com/xtensor-stack/xtensor.git
        mkdir xtensor/build
        cd xtensor/build
        cmake .. -G Ninja -DCMAKE_INSTALL_PREFIX=/opt/homebrew
        cmake --build .
        ninja install

    - name: Install ng-log
      run: |
        git clone --depth 1 --branch v0.8.0 https://github.com/ng-log/ng-log.git
        cd ng-log
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/opt/homebrew
        ninja
        ninja install

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        GFORTRAN_PATH=$(brew --prefix gcc@13)/bin/gfortran-13
        cmake -G Ninja \
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DCMAKE_C_COMPILER=clang \
          -DCMAKE_CXX_COMPILER=clang++ \
          -DCMAKE_Fortran_COMPILER=${GFORTRAN_PATH} \
          ..

    - name: Build
      run: |
        cd build
        cmake --build . --verbose

    - name: Test
      run: |
        cd build
        ctest --output-on-failure

    # Coverage upload temporarily disabled until coverage generation is properly configured
    # - name: Generate coverage report
    #   run: |
    #     cd build
    #     lcov --capture --directory . --output-file coverage.info
    #     lcov --remove coverage.info '/usr/*' --output-file coverage.info
    
    # - name: Upload coverage to Codecov
    #   uses: codecov/codecov-action@v3
    #   with:
    #     files: ./build/coverage.info
    #     flags: macos
    #     name: macos-coverage
    #     fail_ci_if_error: true 